<html>
<head><title>Embed a Dataclip</title></head>
<body style='padding: 1em;'>
<h1>Embed a Heroku Postgres Dataclip</h1>
<code>
<h2>&lt;script src="https://embedclip.herokuapp.com/<em style='color: cadetblue'>dataclip_id</em>.js">&lt;/script></h2>
</pre>

<p>
Example: <code>&lt;script src="https://embedclip.herokuapp.com/lipjdmagqurraxhaaqrvfoipccrt.js">&lt;/script></code>
<br />
<script src="http://embedclip.herokuapp.com/lipjdmagqurraxhaaqrvfoipccrt.js"></script>
</p>

<p>
Here's a fun one:
<br />
<script src="http://embedclip.herokuapp.com/xeoyidwwwyzoxyfbviynlupramqy.js"></script>
</p>

</body>
</html>
